<h1>PizzaApp</h1>
<h3>The best app for ordering Pizza</h3>

@Html.ActionLink("New Order", "Create", "Order", null, new { @class = "btn btn-success", @id = "orderBtn"})
@*<a asp-controller="Order" asp-action="Create">New Order</a>*@