

<h2>Thank You</h2>
<p>Thank you for ordering pizza with PizzaApp and using our application!</p>

<button class="btn btn-primary">
    @Html.ActionLink("Order another pizza", "Create", "Order", null, new { @class = "btn btn-primary" })
</button>