@model PizzaViewModel


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="~/images/@Model.Image" alt="Pizza Image" height="150" />
    </div>
    <div class="col-md-4">
        <h3>Pizza @Model.Name</h3>
        <h4>@Model.Price $</h4>
    </div>
</div>